<!DOCTYPE html>
<html>
<head>
  <title>TEST</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Excercise</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-primary" (click)="sendOnDuty()">Send On Duty</button>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" id="input-file" name="release" placeholder="Release Person" class="form-control" [(ngModel)]="release_person" />
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary" (click)="releaseOnDuty()">Release From Duty</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <caption>Persons Track Table</caption>
          <thead>
            <tr>
              <th class="text-center">OnDuty</th>
              <th class="text-center">First Ten</th>
              <th class="text-center">Next Five</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><div class="pn" *ngFor="let item of api['onduty']">{{item['name']}}</div></td>
              <td><div class="pn" *ngFor="let item of api['first_ten']">{{item['name']}}</div></td>
              <td><div class="pn" *ngFor="let item of api['next_available_five']">{{item['name']}}</div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</body>
</html>